upload/*
.idea/
.idea/*
apiator.raml10.yaml
apiator_data
test.php
test.php.txt
application/config/config.php
application/config/apiator.1.php
application/logs
application/controllers/Demooauth.php
application/controllers/Errors.php
application/controllers/Home.php
application/controllers/Mytest.php
application/controllers/oauth
cli/connection.php
application/config/ezerpapi
application/config/ezerpapi/structure.php
application/config/apiconfig
cli/structure.php

application/config/apiator/connection.php

application/config/apiator/structure.php
connections/*
apis/*
ezerp/*
