<div class="app-main__inner">
    <div class="row mb-3">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <form id="filterUsers">

                    </form>
                    <div class="row">
                        <div class="col-3">
                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-sm table-hover">
                        <thead class="thead-light" id="usersThead">
                        <tr>
                            <th>
                                <label>
                                    UserID
                                    <a class="text-secondary" data-sortfld="userid">
                                        <i class="fa fa-sort-up sort-up"  style="display: none"></i>
                                        <i class="fa fa-sort-down sort-down" style="display: none"></i>
                                        <i class="fa fa-sort sort-default text-light"></i>
                                    </a>
                                </label>
                                <input form="filterUsers" type="text" name="userid" data-operator="~=~" class="form-control form-control-sm" onkeyup="this.form.submit.click()">
                            </th>
                            <th>
                                <label>
                                    Nume
                                    <a class="text-secondary" data-sortfld="fname">
                                        <i class="fa fa-sort-up sort-up"  style="display: none"></i>
                                        <i class="fa fa-sort-down sort-down" style="display: none"></i>
                                        <i class="fa fa-sort sort-default text-light"></i>
                                    </a>
                                </label>
                                <input form="filterUsers" type="text" name="fname" data-operator="~=~" class="form-control form-control-sm" onkeyup="this.form.submit.click()">
                            </th>
                            <th>
                                <label>
                                    Prenume
                                    <a class="text-secondary" data-sortfld="fname">
                                        <i class="fa fa-sort-up sort-up"  style="display: none"></i>
                                        <i class="fa fa-sort-down sort-down" style="display: none"></i>
                                        <i class="fa fa-sort sort-default text-light"></i>
                                    </a>
                                </label>
                                <input form="filterUsers" type="text" name="fname" data-operator="~=~" class="form-control form-control-sm" onkeyup="this.form.submit.click()">
                            </th>
                            <th>
                                <label>
                                    Active
                                    <a class="text-secondary" data-sortfld="active">
                                        <i class="fa fa-sort-up sort-up"  style="display: none"></i>
                                        <i class="fa fa-sort-down sort-down" style="display: none"></i>
                                        <i class="fa fa-sort sort-default text-light"></i>
                                    </a>
                                </label>
                                <select form="filterUsers" name="active" class="form-control custom-select custom-select-sm" onchange="this.form.submit.click()">
                                    <option value="__EMPTY__"></option>
                                    <option value="1">Active</option>
                                    <option value="0">Blocat</option>
                                </select>
                            </th>
                            <th width="100">
                                <button type="button" class="btn btn-success" data-toggle="modal"
                                        data-target="#addEditModal" data-action="showCreateModal" data-instance="#users">Adauga</button>
                            </th>
                        </tr>
                        </thead>
                        <tbody data-resourcetype="collection" id="users"
                               data-addeditmodal='#addEditModal' data-deletemodal='#confirmDeleteModal'
                               data-filter="filterUsers" data-type="users" data-sort="#usersThead"
                               data-paging="#usersPaging" data-filter="#filterUsers">
                        <tr>
                            <td><%= attributes.userid %></td>
                            <td><%= attributes.fname %></td>
                            <td><%= attributes.lname %></td>
                            <td><span class="badge badge-<%= attributes.locked*1?'danger':'success' %>"><%= attributes.locked*1?'blocat':'activ' %></span> </td>
                            <td>
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmDeleteModal" data-action="showDeleteConfirm">Sterge</button>
                            </td>
                        </tr>
                        </tbody>

                        <tfoot>
                        <tr>
                            <td colspan="5" align="left">
                                <div class="btn-group" id="usersPaging" data-pagesize="20">
                                    <button data-type="first" class="btn btn-outline-secondary">&lt;&lt;</button>
                                    <button data-type="prev" class="btn btn-outline-secondary">&lt;</button>
                                    <button data-type="page" class="btn btn-outline-secondary">1</button>
                                    <button data-type="next" class="btn btn-outline-secondary">&gt;</button>
                                    <button data-type="last" class="btn btn-outline-secondary">&gt;&gt;</button>
                                </div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                    <!-- HTML TEMPLATE SECTION: STOP-->
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function init(k,html) {
        $("#users").apiator({url:apiRoot+"/users?page[users][limit]=20"});

        // k.exec = function (options) {
        //     console.log(options);
        // }
    }
</script>